In [1]:
# Import neccessary libraries
import pandas as pd
import json

In [38]:
with open('t20_json_files/t20_json_files/t20_wc_match_results.json') as f:
    data = json.load(f)
df_match = pd.DataFrame(data[0]['matchSummary'])
df_match

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830
5,Sri Lanka,U.A.E.,Sri Lanka,79 runs,Geelong,"Oct 18, 2022",T20I # 1832
6,Ireland,Scotland,Ireland,6 wickets,Hobart,"Oct 19, 2022",T20I # 1833
7,West Indies,Zimbabwe,West Indies,31 runs,Hobart,"Oct 19, 2022",T20I # 1834
8,Netherlands,Sri Lanka,Sri Lanka,16 runs,Geelong,"Oct 20, 2022",T20I # 1835
9,Namibia,U.A.E.,U.A.E.,7 runs,Geelong,"Oct 20, 2022",T20I # 1836
10,Ireland,West Indies,Ireland,9 wickets,Hobart,"Oct 21, 2022",T20I # 1837
11,Scotland,Zimbabwe,Zimbabwe,5 wickets,Hobart,"Oct 21, 2022",T20I # 1838
12,Australia,New Zealand,New Zealand,89 runs,Sydney,"Oct 22, 2022",T20I # 1839
13,Afghanistan,England,England,5 wickets,Perth,"Oct 22, 2022",T20I # 1840
14,Ireland,Sri Lanka,Sri Lanka,9 wickets,Hobart,"Oct 23, 2022",T20I # 1841
15,India,Pakistan,India,4 wickets,Melbourne,"Oct 23, 2022",T20I # 1842
16,Bangladesh,Netherlands,Bangladesh,9 runs,Hobart,"Oct 24, 2022",T20I # 1843
17,South Africa,Zimbabwe,no result,,Hobart,"Oct 24, 2022",T20I # 1844
18,Australia,Sri Lanka,Australia,7 wickets,Perth,"Oct 25, 2022",T20I # 1845
19,England,Ireland,Ireland,5 runs,Melbourne,"Oct 26, 2022",T20I # 1846
20,Afghanistan,New Zealand,abandoned,,Melbourne,"Oct 26, 2022",T20I # 1846a
21,Bangladesh,South Africa,South Africa,104 runs,Sydney,"Oct 27, 2022",T20I # 1847
22,India,Netherlands,India,56 runs,Sydney,"Oct 27, 2022",T20I # 1848
23,Pakistan,Zimbabwe,Zimbabwe,1 run,Perth,"Oct 27, 2022",T20I # 1849
24,Afghanistan,Ireland,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849a
25,Australia,England,abandoned,,Melbourne,"Oct 28, 2022",T20I # 1849b
26,New Zealand,Sri Lanka,New Zealand,65 runs,Sydney,"Oct 29, 2022",T20I # 1850
27,Bangladesh,Zimbabwe,Bangladesh,3 runs,Brisbane,"Oct 30, 2022",T20I # 1851
28,Netherlands,Pakistan,Pakistan,6 wickets,Perth,"Oct 30, 2022",T20I # 1852
29,India,South Africa,South Africa,5 wickets,Perth,"Oct 30, 2022",T20I # 1853
30,Australia,Ireland,Australia,42 runs,Brisbane,"Oct 31, 2022",T20I # 1855
31,Afghanistan,Sri Lanka,Sri Lanka,6 wickets,Brisbane,"Nov 1, 2022",T20I # 1856
32,England,New Zealand,England,20 runs,Brisbane,"Nov 1, 2022",T20I # 1858
33,Netherlands,Zimbabwe,Netherlands,5 wickets,Adelaide,"Nov 2, 2022",T20I # 1859
34,Bangladesh,India,India,5 runs,Adelaide,"Nov 2, 2022",T20I # 1860
35,Pakistan,South Africa,Pakistan,33 runs,Sydney,"Nov 3, 2022",T20I # 1861
36,Ireland,New Zealand,New Zealand,35 runs,Adelaide,"Nov 4, 2022",T20I # 1862
37,Australia,Afghanistan,Australia,4 runs,Adelaide,"Nov 4, 2022",T20I # 1864
38,England,Sri Lanka,England,4 wickets,Sydney,"Nov 5, 2022",T20I # 1867
39,Netherlands,South Africa,Netherlands,13 runs,Adelaide,"Nov 6, 2022",T20I # 1871
40,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872
41,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
42,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
43,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
44,England,Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879

In [39]:
df_match.shape

(45, 7)

In [40]:
#rename the df_match colums
df_match.rename({'scorecard':'match_id'},axis=1, inplace=True)
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [41]:
match_ids_dict = {}

for index, row in df_match.iterrows():
    key1 = row['team1'] + '  Vs ' + row['team2']
    key2 = row['team2'] + '  Vs ' + row['team1']

    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']
match_ids_dict

{'Namibia  Vs Sri Lanka': 'T20I # 1823',
 'Sri Lanka  Vs Namibia': 'T20I # 1823',
 'Netherlands  Vs U.A.E.': 'T20I # 1825',
 'U.A.E.  Vs Netherlands': 'T20I # 1825',
 'Scotland  Vs West Indies': 'T20I # 1826',
 'West Indies  Vs Scotland': 'T20I # 1826',
 'Ireland  Vs Zimbabwe': 'T20I # 1828',
 'Zimbabwe  Vs Ireland': 'T20I # 1828',
 'Namibia  Vs Netherlands': 'T20I # 1830',
 'Netherlands  Vs Namibia': 'T20I # 1830',
 'Sri Lanka  Vs U.A.E.': 'T20I # 1832',
 'U.A.E.  Vs Sri Lanka': 'T20I # 1832',
 'Ireland  Vs Scotland': 'T20I # 1833',
 'Scotland  Vs Ireland': 'T20I # 1833',
 'West Indies  Vs Zimbabwe': 'T20I # 1834',
 'Zimbabwe  Vs West Indies': 'T20I # 1834',
 'Netherlands  Vs Sri Lanka': 'T20I # 1835',
 'Sri Lanka  Vs Netherlands': 'T20I # 1835',
 'Namibia  Vs U.A.E.': 'T20I # 1836',
 'U.A.E.  Vs Namibia': 'T20I # 1836',
 'Ireland  Vs West Indies': 'T20I # 1837',
 'West Indies  Vs Ireland': 'T20I # 1837',
 'Scotland  Vs Zimbabwe': 'T20I # 1838',
 'Zimbabwe  Vs Scotland': 'T20I # 1838',
 'Australia  Vs New Zealand': 'T20I # 1839',
 'New Zealand  Vs Australia': 'T20I # 1839',
 'Afghanistan  Vs England': 'T20I # 1840',
 'England  Vs Afghanistan': 'T20I # 1840',
 'Ireland  Vs Sri Lanka': 'T20I # 1841',
 'Sri Lanka  Vs Ireland': 'T20I # 1841',
 'India  Vs Pakistan': 'T20I # 1842',
 'Pakistan  Vs India': 'T20I # 1842',
 'Bangladesh  Vs Netherlands': 'T20I # 1843',
 'Netherlands  Vs Bangladesh': 'T20I # 1843',
 'South Africa  Vs Zimbabwe': 'T20I # 1844',
 'Zimbabwe  Vs South Africa': 'T20I # 1844',
 'Australia  Vs Sri Lanka': 'T20I # 1845',
 'Sri Lanka  Vs Australia': 'T20I # 1845',
 'England  Vs Ireland': 'T20I # 1846',
 'Ireland  Vs England': 'T20I # 1846',
 'Afghanistan  Vs New Zealand': 'T20I # 1846a',
 'New Zealand  Vs Afghanistan': 'T20I # 1846a',
 'Bangladesh  Vs South Africa': 'T20I # 1847',
 'South Africa  Vs Bangladesh': 'T20I # 1847',
 'India  Vs Netherlands': 'T20I # 1848',
 'Netherlands  Vs India': 'T20I # 1848',
 'Pakistan  Vs Zimbabwe': 'T20I # 1849',
 'Zimbabwe  Vs Pakistan': 'T20I # 1849',
 'Afghanistan  Vs Ireland': 'T20I # 1849a',
 'Ireland  Vs Afghanistan': 'T20I # 1849a',
 'Australia  Vs England': 'T20I # 1849b',
 'England  Vs Australia': 'T20I # 1849b',
 'New Zealand  Vs Sri Lanka': 'T20I # 1850',
 'Sri Lanka  Vs New Zealand': 'T20I # 1850',
 'Bangladesh  Vs Zimbabwe': 'T20I # 1851',
 'Zimbabwe  Vs Bangladesh': 'T20I # 1851',
 'Netherlands  Vs Pakistan': 'T20I # 1852',
 'Pakistan  Vs Netherlands': 'T20I # 1852',
 'India  Vs South Africa': 'T20I # 1853',
 'South Africa  Vs India': 'T20I # 1853',
 'Australia  Vs Ireland': 'T20I # 1855',
 'Ireland  Vs Australia': 'T20I # 1855',
 'Afghanistan  Vs Sri Lanka': 'T20I # 1856',
 'Sri Lanka  Vs Afghanistan': 'T20I # 1856',
 'England  Vs New Zealand': 'T20I # 1858',
 'New Zealand  Vs England': 'T20I # 1858',
 'Netherlands  Vs Zimbabwe': 'T20I # 1859',
 'Zimbabwe  Vs Netherlands': 'T20I # 1859',
 'Bangladesh  Vs India': 'T20I # 1860',
 'India  Vs Bangladesh': 'T20I # 1860',
 'Pakistan  Vs South Africa': 'T20I # 1861',
 'South Africa  Vs Pakistan': 'T20I # 1861',
 'Ireland  Vs New Zealand': 'T20I # 1862',
 'New Zealand  Vs Ireland': 'T20I # 1862',
 'Australia  Vs Afghanistan': 'T20I # 1864',
 'Afghanistan  Vs Australia': 'T20I # 1864',
 'England  Vs Sri Lanka': 'T20I # 1867',
 'Sri Lanka  Vs England': 'T20I # 1867',
 'Netherlands  Vs South Africa': 'T20I # 1871',
 'South Africa  Vs Netherlands': 'T20I # 1871',
 'Bangladesh  Vs Pakistan': 'T20I # 1872',
 'Pakistan  Vs Bangladesh': 'T20I # 1872',
 'India  Vs Zimbabwe': 'T20I # 1873',
 'Zimbabwe  Vs India': 'T20I # 1873',
 'New Zealand  Vs Pakistan': 'T20I # 1877',
 'Pakistan  Vs New Zealand': 'T20I # 1877',
 'England  Vs India': 'T20I # 1878',
 'India  Vs England': 'T20I # 1878',
 'England  Vs Pakistan': 'T20I # 1879',
 'Pakistan  Vs England': 'T20I # 1879'}

**Batting Summary**

In [42]:
with open('t20_json_files/t20_json_files/t20_wc_batting_summary.json') as f:
    data = json.load(f)

    all_records = []
    for rec in data:
        all_records.extend(rec['battingSummary'])
        
df_batting = pd.DataFrame(all_records)
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c â€ Mendis b Theekshana,0,1,0,0,0.00
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,,31,16,2,2,193.75
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,c â€ Green b Wiese,6,6,0,0,100.00
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,c Shikongo b Frylinck,12,11,1,0,109.09

In [44]:
df_batting["Out/Not_Out"] = df_batting.dismissal.apply(lambda x:"Out" if len(x) > 0 else "Not_Out")
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,Out/Not_Out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,Out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,Out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,Out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,Out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,Out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14,Out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c â€ Mendis b Theekshana,0,1,0,0,0.00,Out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,,31,16,2,2,193.75,Not_Out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00,Out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,c â€ Green b Wiese,6,6,0,0,100.00,Out
10,Namibia Vs Sri Lanka,Sri Lanka,3,Dhananjaya de Silva,c Shikongo b Frylinck,12,11,1,0,109.09,Out

In [45]:
df_batting.drop(columns=['dismissal'], inplace=True)
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,Out/Not_Out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,Out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,Out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,Out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,Out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,Out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,Out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,Out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,Not_Out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,Out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,6,6,0,0,100.00,Out

In [46]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€',''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0',''))
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,Out/Not_Out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,Out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,Out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,Out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,Out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,Out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,Out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,Out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,Not_Out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,Out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendis,6,6,0,0,100.00,Out

In [47]:
df_batting['mach_id'] = df_batting['match'].map(match_ids_dict)

df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,Out/Not_Out,mach_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,Out,NaN
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,Out,NaN
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,Out,NaN
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,Out,NaN
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,Out,NaN

In [48]:
match_ids_dict['Namibia Vs Sri Lanka']

KeyError: 'Namibia Vs Sri Lanka'